          <h1>All Users</h1>
          <hr>
          
         <table class="table table-hover">
			<tr>
				<th>Full Name</th>
				<th>Email</th>
				<th>Registration date</th>
				<th>Last modification date</th>
			</tr>
				
				<tr ng-repeat="user in vm.allUsers"> <!--ng-click="vm.editUser(user.id)" --> 		
					<td><a ng-href="#!/admin/edit/user/{{user.id}}">{{user.firstName}} {{user.lastName}} </a></td>
					<td><a ng-href="#!/admin/edit/user/{{user.id}}">{{user.email}} </a></td>
					<td><a  ng-href="#!/admin/edit/user/{{user.id}}">{{user.date | date : 'short' }}</a> </td>
					<td><a ng-href="#!/admin/edit/user/{{user.id}}">{{user.modifiedUser | date : 'short' }} </a></td>
					<td> <button type="button" class="btn btn-default"><a href="#!/admin/edit/user/{{user.id}}"><span class="glyphicon glyphicon-pencil"></span></a></button></td>
			</tr>
		</table>
		 <a href="#!/admin"  class="btn btn-primary">Back</a>
		 <h2>My Profile</h2>
<hr>
<h4><strong>First Name: </strong>{{vm.user.firstName}}</h3>
<h4><strong>Last Name: </strong>{{vm.user.lastName}}</h3>
<h4><strong>Email: </strong>{{vm.user.email}}</h3>
<h4><strong>Register Date: </strong>{{vm.user.date | date : 'short'}}</h3>
<h4><strong>Last Modified Date: </strong>{{vm.user.modifiedUser | date : 'short'}}</h3>
